# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
*.pem
.idea
.obsidian
.vscode

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.eslintcache

.env
